bash/bash_secret
mutt/secrets
vim/vim/plugged
vim/vim/.netrwhist
vim/vim/sessions
tmuxinator/*
tags
Session.vim
*.gpg
ranger/bookmarks
ranger/history
ranger/tagged
mbsyncrc
imapfilter/config.lua
__pycache__
