*.gpg
Session.vim
__pycache__
bash/bash_secret
imapfilter/config.lua
mbsyncrc
mutt/secrets
newsboat/newsboat-private.conf
newsboat/urls
qutebrowser/private.py
ranger/bookmarks
ranger/history
ranger/tagged
tags
tmuxinator/*
vim/vim/.netrwhist
vim/vim/plugged
vim/vim/sessions
