snippet hb
<script type="text/x-handlebars" data-template-name="${1:application}">
	$0
</script>
endsnippet

snippet = "concatenate embedded Elixir" i
<%= $0 %>
endsnippet

snippet - "embedded Elixir" i
<% $0 %>
endsnippet
