snippet cl "console.log(something)" b!
console.log($0)
endsnippet

snippet desc "spec describe" b!
describe('$1', () => {
	$0
})
endsnippet

snippet it "spec it" b!
it('$1', async () => {
	$0
})
endsnippet
