snippet rcc "React.createClass" b
${1:ClassName} = React.createClass
	render: ->
		$0
endsnippet

snippet rip "getDefaultProps" b
getDefaultProps: ->
	$0
endsnippet

snippet ris "getInitialState" b
getInitialState: ->
	$0
endsnippet

snippet rcdu "componentDidUpdate" b
componentDidUpdate: (prepProps, prevState) ->
	$0
endsnippet

snippet rcdm "componentDidMount" b
componentDidMount: ->
	$0
endsnippet

snippet rcwm "componentWillMount" b
componentWillMount: ->
	$0
endsnippet
